<nav>
  <ul>
    <li>
      <a href="{{ site.github.url }}" class="{% if page.url == '/' %} active {% endif %}">Главная</a>
    </li>
    <li>
      <a href="{{ site.github.url }}/notes" class="{% if page.url == '/notes' %} active {% endif %}">Заметки</a>
    </li>
    <li>
      <a href="{{ site.github.url }}/lexicon" class="{% if page.url == '/lexicon' %} active {% endif %}">Лексикон</a>
    </li>
  </ul>
</nav>
<div class="logo">
  <h1><a href="{{ site.github.url }}">ssd<span>notes</span></a></h1>
  <div class="logo-description">simple storage description</div>
</div>
