<meta charset="utf-8">
<meta name="keywords" content="ssd,ссд,твердотельный диск,тестирование ссд,обзоры ссд,быстрые диски,контроллер,nand,intel ssd,samsung ssd,kingston ssd,crucial,надежные ссд">
<meta name="description" content="Новости из мира твердотельных накопителей(SSD), обзоры представленных на российском рынке моделей, описание используемых технологий">
<base href="https://web2ls.github.io/ssdnotes">
<title>SSDnotes</title>
<link rel="icon" type="/image/png" href="images/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&amp;subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="/css/core.css">
